In [ ]:
import pandas as pd
df= pd.read_csv("/content/drive/MyDrive/file.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
pip install word2number

Collecting word2number
  Downloading https://files.pythonhosted.org/packages/4a/29/a31940c848521f0725f0df6b25dca8917f13a2025b0e8fcbe5d0457e45e6/word2number-1.1.zip
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-cp36-none-any.whl size=5588 sha256=339bab6028bd36fea2e92600545924dc49e36c4bc399f94cf222621fa153bbbf
  Stored in directory: /root/.cache/pip/wheels/46/2f/53/5f5c1d275492f2fce1cdab9a9bb12d49286dead829a4078e0e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [ ]:
from word2number import w2n
import numpy as np
import math
e=0
for i in range(df["experience"].size):
   try:
     df["experience"][i]=w2n.word_to_num(str(df["experience"][i]))
   except:
     e=e+1
df2=df[df["experience"].isnull()==False]
mn=math.floor(df2["experience"].mean())
df.loc[(df["experience"].isnull()),'experience']=mn
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          6                    8.0                           9      50000
1          6                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    NaN                           7      72000
7         11                    7.0                           8      80000

In [ ]:
df2=df[df["test_score(out of 10)"].isnull()==False]
mn=math.floor(df2["test_score(out of 10)"].mean())
df.loc[(df["test_score(out of 10)"].isnull()),'test_score(out of 10)']=mn
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          6                    8.0                           9      50000
1          6                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    7.0                           7      72000
7         11                    7.0                           8      80000

In [66]:
from sklearn.linear_model import LinearRegression as lr
df3=df.copy()
del df3["salary($)"]
Y=df["salary($)"]
X=df3
mod=lr().fit(X,Y)
mod.predict(np.array([[9,9,9]]))

array([75745.91008365])